* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Manrope', sans-serif;
    --error-message: #FF2965;
    --electric-green: #3EE9E5;
    --white: #FFFFFF;
    --grey: #777F98;
    --slate: #093F68;
    --dark-bg: #080C20;
}

body {
    background-color: var(--dark-bg)
}

/*  Hero Section *********/

.hero {
    margin-bottom: 50px;
}

main {
    max-width: 1700px;
    margin: 0 auto;
}

.logo__container {
    padding-left: 130px;
    padding-top: 50px;
    margin-bottom: 80px;
}

.hero__contents {
    display: grid;
    grid-template-areas:
        "left text right";
}

.hero__left {
    width: 90%;
    grid-area: left;
}

.hero__right {
    grid-area: right;
    width: 100%;
}

.hero__text--contents {
    max-width: 700px;
    text-align: center;
    background: url("assets/bg-hero-squiggle.svg");
    background-size: cover;
    margin-top: 40px;
    grid-area: text;


}

.hero__headline {
    color: var(--white);
    font-size: clamp(1.8rem, 4vw, 4.5rem);
    margin-bottom: 20px;
}

.hero__description {
    color: var(--grey);
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 1.6;
}

span {
    color: var(--electric-green)
}

/* Selling Points  *************/

.selling__points {
    padding: 30px;
    margin-bottom: 50px;
}

.icon__headline {
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.icon__paragraph {
    color: var(--grey);
    text-align: center;
    font-size: .8rem;
}

.icons__container {
    max-width: 95%;
    display: flex;
    margin: auto;
    gap: 70px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 20px;

}

.icon:hover {
    transform: translateY(5%);
    transition: 0.2s ease-in-out;
}

.icon h2:hover {
    color: var(--electric-green);
}

.icon__image--container {
    background-color: var(--slate);
    border-radius: 30px;
    padding: 20px;
}

.icon__image {
    width: 70px;
    object-fit: cover;

}

.low {
    margin-top: 70px;
}

/* Pricing Section *******/
.pricing {
   
}

.pricing__text--container {
    max-width: 600px;
   margin: 0 auto 100px;
}



.pricing__headline {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;

}

.pricing__description {
    color: var(--grey);
    line-height: 1.6;
    text-align: center;
}

.card {
    background: var(--slate);
    max-width: 500px;
    border-radius: 10px;
    padding: 50px;
    position: relative;
}

.card__icon {
    position: absolute;
    top: -20px;
}

.card__blurb {
    margin-bottom: 20px;
    color: var(--white);
}

.pricing__card--description {
    margin-bottom: 20px;
    color: var(--grey);
}

.card__price {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--white)
}


li {
    color: var(--white);
    margin-bottom: 18px;
}

.light {
    background: var(--electric-green)
}






/* responsive hero ***************/

@media (max-width: 800px) {
    .logo__container {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-top: 50px;
        margin-bottom: 80px;
    }


    .hero__contents {
        grid-template-areas:
            "left right"
            "text text";
    }

    .hero__text--contents {
        margin: 0 auto;
        margin-top: 50px;
        padding: 0 20px;

    }

    /*  Icons *****************/

    .icons__container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        ;
    }

    .low {
        margin-top: 0;
        margin-left: 80px;
    }

    .high {
        margin-right: 80px;
    }

}

/* centered icons */

@media (max-width: 465px) {
    .low {
        margin-left: 0;
    }

    .high {
        margin-right: 0;
    }
}